[
  {'master', [
    {web_ip, "0.0.0.0"},
    {web_port, 8080},
    {'genesis_block', <<"{\"index\":1,\"timestamp\":0,\"proof\":1917336,\"transactions\":[{\"id\":\"b3c973e2-db05-4eb5-9668-3e81c7389a6d\",\"timestamp\":0,\"payload\":\"I am Heribert Innoq\"}],\"previousBlockHash\":\"0\"}">>},
    {'genesis_block_sha256', <<"000000b642b67d8bea7cffed1ec990719a3f7837de5ef0f8ede36537e91cdc0e">>}
  ]}
].
